body{
    background-image: url("https://images.pexels.com/photos/9799359/pexels-photo-9799359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
header img{
    display: block;
    margin: 60px auto 0 auto;
}
.calc-border{
    margin: 80px auto 0 auto;
    border: 1px solid black;
    width: 350px;
    height: 480px;
    display: block;
    background-color: grey;
    
}
#input-box{
    width: 90%;
    /* border: 1px solid brown; */
    margin: 30px auto 0 auto;
    height: 50px;
    background-color: azure;
    text-align: end;
    font-size: 30px;
}
#input-box2{
    width: 90%;
    /* border: 1px solid brown; */
    margin: 0 auto 0 auto;
    height: 50px;
    background-color: azure;
    text-align: end;
    font-size: 30px;
}
.calc-btn{
    /* display: block; */
    padding: 0 0 8px 0;
}
.btn-border{
    margin: 20px auto 0 20px; 
}
.btn{
    height: 55px;
    width: 75px;
    font-size: 25px;
    background-color: azure;
}
.equal{
    background-color: rgb(32, 155, 79);
}
[input="text"]{
    /* font-size: larger; */
}